body {
  margin: 0%;
  padding: 0%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


h1 {
  font-size: 1.8vw;
}

h2 {
  font-size: 1.4vw;
}

h3 {
  font-size: 1.2vw;
}

h4 {
  font-size: 1.15vw;
}




.navbar {
  z-index: 7;
  position: fixed;
  right: -260px;
  top: 0px;
  width: 260px;
  height: 100%;
  background-color: rgb(169, 175, 98);
  text-align: center;
  transition: 1s ease;
}

.navbar > .side-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: flex;
}

.nav-item > .nav-link {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  padding: 1em;
  flex: 1;
}

.nav-item > .nav-link:hover {
  background-color: white;
  color: black;
}

.toggle-collapse {
  float: left;
  margin-left: -3.8em;
  margin-top: .5em;
  content: "";
  outline: inherit;
  border: 0px;
  background: transparent;
}

/*Toggle icon*/

.toggle-icon,
.toggle-icon::before,
.toggle-icon::after {
  content: "";
  width: 30px;
  height: 3px;
  position: fixed;
  background-color: rgb(64, 64, 64);
  border-radius: 2em;
  border: 1px solid rgb(64, 64, 64);
  cursor: pointer;
  transition: 1s ease;
  margin-top: 0.8em;
}

.toggle-icon::before {
  position: absolute;
  left: -1px;
  margin-top: -0.8em;
}

.toggle-icon::after {
  position: absolute;
  left: -1px;
  margin-top: 0.6em;
  width: 30px
}

.toggle-icon {
  width: 30px;
}

.show .toggle-icon::after {
  width: 20px;
}

.show .toggle-icon {
  width: 13px;
}

.nav-item > .site-name {
  text-decoration: none;
  text-align: center;
  padding-left: 0.9em;
  padding-top: 0.8em;
  padding-bottom: 0.2em;
  font-size: 1.8em;
  color: black;
}

.nav-item:last-child > .nav-link i {
  padding: .5em;
}

.nav-item:hover:last-child > .nav-link {
  background-color: white;
  color: black;
}

.none:hover {
  opacity: 1;
  cursor: default;
}










/*Header*/
.header {
  z-index: 3;
  position: relative;
  height: 750px;
  width: 35%;
  /*border-style: solid;*/
  background: transparent;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  color: black;
  text-align: center;
  top: 40px;
  left: 30px;
}

.name {
  font-size: 3vw;
}

.title {
  font-size: 1.75vw;
}

.push-down {
  top: 0px;
  position: relative;
}

.left-margin {
  margin-left: 4px;
}

.headshot {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: url('IMG_1395.jpeg') no-repeat 50% 50%;
  background-size: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.float-left {
  float: left;
}

.pink-strip {
  width: 8px;
  height: 555px;
  position: absolute;
  background-color: rgb(255, 20, 147);
  left: 15px;
}

.mail-position {
  position: relative;
  top: 5px;
  left: -2px;
}

.margin {
  margin: 8px;
}

.in-icon {
  width: 7.7%;
  height: 7.7%;
}

.fb-icon {
  width: 7.4%;
  height: 7.4%;
}

.icon {
  width: 7%;
  height: 7%;
}

.icons:hover {
  opacity: 0.5;
}

.resume-box {
  width: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.down {
  position: relative;
  top: 10px;
}




.slider-container {
  z-index: 1;
  height: 637px;
  width: 60%;
  top: 0px;
  right: 0px;
  position: absolute;
}

.slider {
  width: 850px;
  height: 637px;
  background-size: contain;
}



/*Blocks*/
.blockW {
  height: 500px;
  background-color: white;
  color: black;
  clear: both;
}

.pink-line {
  height: 10px;
  width: 30px;
  position: relative;
  bottom: 15px;
  left: 5px;
  background-color: rgb(255, 20, 147);
}

.push-left {
  position: relative;
  left: 40px;
}

.push-way-down {
  position: relative;
  top: 50px;
}

/*about*/
.about-title-box {
  width: 17%;
  height: 250px;
}

.blockW1 {
  height: 100px;
  width: 100%;
  background-color: white;
  color: black;
  clear: both;
}

.push-slightly-left {
  position: relative;
  left: 70px;
}

.about-text {
  top: 60px;
  position: relative;
  width: 75%;
  font-size: 1.1vw;
}









/*skills*/
.blockB {
  height: 500px;
  background-color: black;
  width: 100%;
  color: white;
  clear: both;
}

.skills-title-box {
  height: 400px;
}

.skills-box1 {
  height: auto;
  width: 17%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  position: relative;
  top: 40px;
  left: 10%;
}

.skills-box2 {
  height: auto;
  width: 17%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  position: relative;
  top: 40px;
  left: 15%;
}

.skills-box3 {
  height: auto;
  width: 17%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  position: relative;
  top: 40px;
  left: 20%;
}

/*experience*/
.blockW2 {
  height: 780px;
  width: 100%;
  background-color: white;
  color: black;
  clear: both;
}

.experience-title-box {
  height: 600px;
  /*border-style: solid;*/
  border-color: blue;
  border-width: 2px;
}

.experience-box {
  height: auto;
  width: 70%;
  /*border-style: solid;*/
  border-color: red;
  border-width: 2px;
  position: relative;
  top: 10px;
  left: 10%;
}

.experience-box1 {
  height: auto;
  width: 70%;
  /*border-style: solid;*/
  border-color: red;
  border-width: 2px;
  position: relative;
  top: 10px;
  left: 10%;
}

/*projects*/
.blockB1 {
  height: 1800px;
  width: 100%;
  background-color: black;
  color: white;
  clear: both;
}

.projects-title-box {
  height: 1600px;
  /*border-style: solid;*/
  border-color: red;
  border-width: 2px;
}

.projects-box {
  height: auto;
  width: 70%;
  /*border-style: solid;*/
  border-color: red;
  border-width: 2px;
  position: relative;
  top: 10px;
  left: 12%;
}

.projects-picture1 {
  height: 338px;
  width: 80%;
  position: relative;
  top: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.projects-box1 {
  height: auto;
  width: 70%;
  /*border-style: solid;*/
  border-color: red;
  border-width: 2px;
  position: relative;
  top: 10px;
  left: 12%;
}

.projects-box2 {
  height: auto;
  width: 70%;
  /*border-style: solid;*/
  border-color: red;
  border-width: 2px;
  position: relative;
  top: 10px;
  left: 12%;
}

.projects-picture2 {
  height: 250px;
  width: 40%;
  /*border-style: solid;*/
  border-color: red;
  border-width: 2px;
  background: url('IMG_0201.JPG') no-repeat 50% 50%;
  background-size: contain;
  position: relative;
  top: 40px;
  left: -8%;
  transform: rotate(90deg);
}

.projects-picture3 {
  height: 250px;
  width: 40%;
  /*border-style: solid;*/
  border-color: red;
  border-width: 2px;
  background: url('IMG_0199.JPG') no-repeat 50% 50%;
  background-size: contain;
  position: relative;
  top: 40px;
  left: -15%;
  transform: rotate(90deg);
}

.projects-picture4 {
  height: 250px;
  width: 40%;
  /*border-style: solid;*/
  border-color: red;
  border-width: 2px;
  background: url('IMG_0200.JPG') no-repeat 50% 50%;
  background-size: contain;
  position: relative;
  top: -210px;
  left: 58%;
  transform: rotate(90deg);
}

.projects-box3 {
  height: auto;
  width: 70%;
  /*border-style: solid;*/
  border-color: red;
  border-width: 2px;
  position: relative;
  top: -100px;
  left: 12%;
}

.projects-picture5 {
  height: 225px;
  width: 50%;
  position: relative;
  top: 20px;
  left: -8%;
}

.projects-picture6 {
  height: 225px;
  width: 50%;
  position: relative;
  top: 20px;
  left: -5%;
}

/*interests*/
.blockW3 {
  height: 350px;
  width: 100%;
  background-color: white;
  color: black;
  clear: both;
}

.interests-title-box {
  height: 100px;
  /*border-style: solid;*/
  border-color: red;
  border-width: 2px;
}

.interests-box1 {
  height: auto;
  width: 16%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  position: relative;
  left: 6.5%;
}

.interests-box2 {
  height: auto;
  width: 16%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  position: relative;
  left: 11%;
}

.interests-box3 {
  height: auto;
  width: 16%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  position: relative;
  left: 14.5%;
}

.interests-box4 {
  height: auto;
  width: 16.5%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  position: relative;
  left: 18%;
}

.center {
  text-align: center;
}




.picture {
  height: 400px;
  width: 300px;
}
/*
.picture2 {
  height: 400px;
  width: 300px;
}

.picture3 {
  height: 400px;
  width: 300px;
}

.picture4 {
  height: 400px;
  width: 300px;
}

.picture5 {
  height: 400px;
  width: 300px;
}

.picture6 {
  height: 400px;
  width: 300px;
}

.picture7 {
  height: 400px;
  width: 300px;
}

.picture8 {
  height: 400px;
  width: 300px;
}

.picture9 {
  height: 400px;
  width: 300px;
}

.picture10 {
  height: 400px;
  width: 300px;
}

.picture11 {
  height: 400px;
  width: 300px;
}
*/


.container1 {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 400px;
    grid-auto-flow: dense;
    margin-left: 5%;
    margin-bottom: 5%;
}




















/*other*/
a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  cursor: pointer;
  opacity: 0.5;
}

a:active {
  color: purple;
}

.float-right {
  float: right;
}


@media screen and (max-width: 480px) {
  .slider-container {
    /*z-index: 1;
    height: 637px;
    width: 30%;
    top: 0px;
    right: 0px;
    position: absolute;*/
    display: none;
  }
}
